{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>

<h1>主页</h1>

<h1><a href="{% url 'jiajinyu:index' %}">贾晋豫 </a></h1>

<h1><a href="{% url 'liwenwen:index' %}">李玟玟</a></h1>
<h1><a href="{% url 'xiaoyu:index' %}">麻晓玉</a></h1>
<h1><a href="{% url 'hutongjie:index' %}">胡彤杰</a></h1>
<h1><a href="{% url 'dutailong:index' %}">杜泰龙</a></h1>
<h1><a href="{% url 'wuxun:index' %}">吴勋</a></h1>
<h1><a href="{% url 'songjialun:index' %}">宋家伦</a></h1>
<h1><a href="{% url 'zhangjian:index' %}">张剑</a></h1>
<h1><a href="{% url 'zhangwenning:index' %}">张雯宁</a></h1>
<h1><a href="{% url 'xuecuiping:index' %}">薛翠萍</a></h1>
<h1><a href="{% url 'liuyajing:index' %}">刘雅静</a></h1>
<h1><a href="{% url 'zhaoxinyu:index' %}">赵鑫宇</a></h1>
<h1>123</h1>

</body>
</html>